.place__title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 460px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}