/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./sprint-3-images/fonts/inter-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('./sprint-3-images/fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./sprint-3-images/fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./sprint-3-images/fonts/inter-v12-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./sprint-3-images/fonts/inter-v12-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./sprint-3-images/fonts/inter-v12-latin-regular.svg#Inter') format('svg');
    /* Legacy iOS */
}

/* inter-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('./sprint-3-images/fonts/inter-v12-latin-900.eot');
    /* IE9 Compat Modes */
    src: url('./sprint-3-images/fonts/inter-v12-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./sprint-3-images/fonts/inter-v12-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./sprint-3-images/fonts/inter-v12-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('./sprint-3-images/fonts/inter-v12-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./sprint-3-images/fonts/inter-v12-latin-900.svg#Inter') format('svg');
    /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* position: relative; */
    width: 1280px;
    height: 6875px;
    background: #2A2C2F;
}

.header {
    /* position: absolute; */
    width: 1184px;
    height: 52px;
    left: 48px;
    top: 28px;
    display: flex;
    justify-content: space-between;
    margin: 28px 48px 0px 48px;
    height: 52px;
}

.header__logo {
    /* position: absolute; */
    width: 176px;
    height: 52px;
    left: 48px;
    top: 28px;
    background-size: contain;
}

.header__lang-link {
    position: absolute;
    width: 30px;
    height: 28px;
    left: 1155px;
    top: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.header__lang-link:nth-child(2) {
    position: absolute;
    float: right;
    width: 29px;
    height: 28px;
    left: 1203px;
    top: 46px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    text-align: right;
    color: #FFFFFF;
}

.lead {
    /* position: absolute; */
    width: 984px;
    height: 1005px;
    left: 148px;
    top: 136px;
    margin: 0 auto;
}

.lead__title {
    position: absolute;
    width: 720px;
    height: 200px;
    left: 280px;
    top: 136px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

.lead__subtitle {
    position: absolute;
    width: 640px;
    height: 72px;
    left: 320px;
    top: 368px;

    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */

    text-align: center;

    color: #FFFFFF;
}

.lead__image {
    position: absolute;
    width: 984px;
    height: 615px;
    left: 148px;
    top: 504px;
}

.lead__caption {
    position: absolute;
    width: 160px;
    height: 14px;
    left: 148px;
    top: 1127px;
    flex-wrap: nowrap;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro {
    /* position: absolute; */
    width: 690px;
    height: 429px;
    left: 148px;
    top: 1233px;
}

.intro__title {
    position: absolute;
    width: 690px;
    height: 58px;
    left: 148px;
    top: 1233px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}

.intro__text {
    position: absolute;
    width: 690px;
    height: 208px;
    left: 148px;
    top: 1331px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

.intro__list {
    position: absolute;
    width: 690px;
    height: 90px;
    left: 148px;
    top: 1572px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.photo-grid {
    /* position: absolute; */
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-column-gap: 16px;
    grid-template-rows: repeat(4, 213px);
    grid-row-gap: 16px;
}

.photo-grid__item {

    width: 284px;
    height: 213px;
}

.places {
    position: absolute;
    width: 984px;
    height: 3392px;
    left: 148px;
}

.place {

}

.place__title {

}

.place__image {

}

.place__website {

}

.website__url-heading {

}

.website__link {
    
}

.place__paragraph {

}