.intro__text {
    font-style: normal;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 33px;
}

@media screen and (max-width: 767px) {
    .intro__text {
        flex-wrap: wrap;
        flex-basis: content;
        overflow-wrap: break-word;
    }
}