.lead__images {
    margin: 0; 
}

@media screen and (max-width: 1280px){
    .lead__images {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1024px){
    .lead__images {
        margin: 0;
    }
}