.places__place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto auto;
    gap: 48px 40px;
    margin-top: 80px;
}

.places__place:first-child {
    margin-top: 0px;
}

@media screen and (max-width: 1279px) {
    .places__place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px) {
    .places__place {
        gap: 48px 28px;
        grid-template-columns: 340px 1fr;
        margin-top: 72px;
    }
}

@media screen and (max-width: 767px) {
    .places__place {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        gap: 32px 0;
        margin-top: 50px;
    }
}