.cover__overlay {
    display: flex;
    background: url(../../../images/cover-trains.jpg);
    background-size: cover;
    min-height: 740px;
    max-width: 1280px;
    flex-direction: column;
    text-decoration: none;
    background-color: rgba(42, 44, 47, 0.3);
    color: white;
    z-index: 1;
    position: relative;
    transition-duration: 0.5s;
    box-sizing: border-box;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1279px) {
    .cover__overlay {
        min-height: 640px;
        max-width: 100%;
        margin: 92px 0 auto 0;
    }
}

@media screen and (max-width: 1023px) {
    .cover__overlay {
        min-height: 480px;
        margin-top: 90px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover__overlay {
        min-height: 200px;
        margin-top: 66px;
        margin-bottom: 64px;
    }
}