.footer {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 92px 48px 24px 48px;
}

@media screen and (max-width: 1023px) {
    .footer {
        margin-top: 88px;
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        margin-top: 64px;
        margin-right: auto;
        margin-left: 16px;
        flex-direction: column;
    }
}