.intro__title {
    width: 690px;
    height: 58px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .header {
        margin: 28px 24px 0px 24px;
    }
}